﻿

/*---------------------------------------------------------------*/

@media only screen and (max-width:1280px) {
	.b_map {
		background: #f0f1f3;
	}

	.row_top_line {
		width: 50%;
		display: block;
		float: left;
		padding: 0 30px 20px 0;
		box-sizing: border-box;
	}

	.row_top_line input[type="tel"] {
		width: 100%;
		margin: 0;
	}

	.wFormFilter .row_submit {
		float: right;
		margin: 0 30px 0 0;
	}

	.map_about {
		float: right;
		width: 180px;
	}

	.map_about_item {
		display: block;
		width: 100%;
		margin: 0 0 10px 0;
		text-align: left;
	}

	.map_description {
		margin: 30px 0 0;
		width: 250px;
		text-align: right;
	}

	.map_description_title {
		margin: 0 0 25px;
	}

	.map_note {
		display: none;
	}

	.wFormDisposer .wFormRow {
		width: 20%;
	}
}

@media only screen and (max-width:1024px) {
	.wFormDisposer .wFormRow:nth-child(1),
	.wFormDisposer .wFormRow:nth-child(2) {
		width: 50%;
		margin: 0 0 25px;
	}

	.wFormDisposer .wFormRow:nth-child(2) {
		padding: 0;
	}

	.wFormDisposer .wFormRow:nth-child(3),
	.wFormDisposer .wFormRow:nth-child(4) {
		width: 50%;
	}

	.report_table td, .report_table th {
		width: 50px;
		padding: 12px 5px;
	}

	.header_title {
		display: none;
	}
}

@media only screen and (max-width:980px) {

	.mmenu_handler {
		display: block;
	}

	.wHeader .nav_top {
		display: none;
	}

	.nav_top li {
		display: block;
	}

	.footer_nav {
		display: none;
	}

	.footer_copyright {
		float: none;
		text-align: center;
	}

	.b_advantage {
		margin-bottom: 0;
	}

	.advantage_item {
		width: 50%;
		margin-bottom: 50px;
	}

	.disposers_col_title,
	.disposers_2lvl_col_title,
	.disposers_3lvl_col_title {
		width: 50%;
	}

	.disposers_col_inside,
	.disposers_col_outside,
	.disposers_2lvl_col_inside,
	.disposers_2lvl_col_outside,
	.disposers_3lvl_col_inside,
	.disposers_3lvl_col_outside {
		width: 25%;
	}

	.detail_col3,
	.detail_col2 {
		width: 100%;
		float: none;
		margin: 0 0 40px;
	}

	.auth_link {
		display: none;
	}

	.report_table tr td:first-child {
	    min-width: 100px;
	}
	
	.agreement_details_table {
		text-align: center;
	}
}

@media only screen and (max-width:920px) {
	.b_map {
		height: auto;
		padding: 0 0 20px 0;
	}

	#map {
		width: 100%;
		height: auto;
		position: relative;
		top: 0; left: 0;
		margin: 20px 0 0px;
	}

	.map_description {
		width: 100%;
		text-align: left;
	}

	.map_about {
		float: none;
		width: 100%;
	}

	.map_about_item {
		display: inline-block;
		width: 48%;
	}

	.map_note {
		display: block;
	}

	.search_container .sideLeft {
		width: 200px;
	}

	.table_nav {
		float: none;
		margin: 0 0 20px 0;
	}

	.table_nav a {
		margin: 0 20px 0 0;
	}

	.textpage .sideLeft {
		margin: 0 40px 0 0;
	}

	.disposers_nav {
		float: none;
		margin: 0 0 20px 0;
	}

	.report_table tr td:first-child {
	    min-width: 50px;
	}
}

@media only screen and (max-width:768px) {
	.viewport_notice {
		display: block;
	}

	.report_body {
		display: none;
	}

	.agreement_body {
		display: none;
	}

	.agreement_total {
		display: none;
	}
}

@media only screen and (max-width:720px) {
	.biggest_transaction td,
	.biggest_transaction th {
		padding-right: 25px;
	}

	.biggest_transaction td:last-child,
	.biggest_transaction th:last-child {
		padding-right: 0;
	}

	.wFormFilter .date_input {
		width: 100px;
	}

	.welcome_popup .button {
		padding: 0 50px;
	}

	.welcome_faq {
		margin: 0 0 0;
	}

	.welcome_faq_item {
		width: 100%;
		margin: 0 0 60px;
		padding: 0;
	}

	.search_container {
		background-color: #ebecf0;
		padding-top: 10px;
	}

	.search_container .sideLeft {
		float: none;
		width: 100%;
		padding: 20px 15px;
		box-sizing: border-box;
		background-color: #fff;
		margin: 0 0 20px;
		border-radius: 3px;
	}

	.search_container:before {
		display: none;
	}

	.search_container .content {
		padding: 20px 0 40px;
	}

	.search_table {
		display: block;
		border-top: 2px solid #9a9faa;
	}

	.search_header {
		display: none !important;
	}

	.search_row {
		display: block;
		padding: 20px 10px 0;
		box-sizing: border-box;
		border-bottom: 2px solid #9a9faa;
	}

	.search_col {
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
		text-align: left !important;
		border: none;
		padding: 30px 0 0 0 !important;
		vertical-align: top;
		margin: 0 0 20px 0;
		position: relative;
	}

	.search_col:before {
		content: attr(data-title);
		position: absolute;
		top: 0; left: 0;
		color: #9a9faa;
		text-transform: uppercase;
	}

	.textpage .sideLeft {
		display: none;
	}

	.feedback_form .wRowInput {
		width: 100%;
		float: none;
	}

	.wFormDisposer .wFormRow {
		width: 100% !important;
		float: none;
		margin: 0 0 25px;
		padding: 0;
	}

	.disposer_table_head {
		display: none !important;
	}

	.disposer_table {
		border-top: 2px solid #9a9faa;
	}

	.disposer_table .disposer_table_row {
		display: block;
		padding: 25px 0 20px 0;
		border-bottom: 2px solid #9a9faa;
		overflow: hidden;
	}

	.disposer_table .disposer_table_col {
		display: block;
		border: none !important;
		padding: 0;
	}

	.disposer_table .disposer_table_col:nth-child(1) {
		width: 100%;
		font-size: 18px;
		color: #000;
		margin: 0 0 10px 0;
		font-weight: 600;
	}

	.disposer_table .disposer_table_col:nth-child(2) {
		width: 100%;
	}

/*
	.disposer_table .disposer_table_col:nth-child(4) {
		display: none;
	}
*/
	.disposer_table .disposer_table_col:nth-child(3),
	.disposer_table .disposer_table_col:nth-child(5) {
		float: left;
		width: 50%;
	}

	.disposer_table .disposer_table_col:nth-child(5) {
		text-align: right;
	}

	.disposer_table_mobile {
		display: inline;
	}

	.profile_header_options dt {
		width: 100%;
		float: none;
	}

	.profile_nav .profile_nav_select {
		width: 100%;
		float: none;
	}

	.profile_nav_menu {
		display: block;
		float: none;
		text-align: center;
	}

	.profile_nav_menu li {
		float: none;
		display: inline-block;
		margin: 0 20px;
	}

	.profile_body_menu {
		float: none;
		margin: 0 0 30px 0;
		text-align: center;
	}

	.profile_body_menu li {
		float: none;
		display: inline-block;
		margin: 0 10px;
	}

	.profile_body_nav {
		text-align: center;
		float: none;
	}

	.profile_body_nav a {
		margin: 0 10px;
	}

}

@media only screen and (max-width:600px) {
	.filter_main {
		display: none;
	}

	.b_filter_link {
		padding: 0 0 20px 0;
		display: block;
	}

	.b_filter_link .button {
		width: 100%;
		text-align: center;
		padding: 0 0;
	}

	.b_biggest_transaction {
		display: none;
	}
}

@media only screen and (max-width:540px) {
	.advantage_item {
		width: 100%;
		margin-bottom: 50px;
	}
}

@media only screen and (max-width:480px) {
	.nav_top a {
		margin: 0 0 0 20px;
		font-size: 12px;
	}

	.paginator a {
		margin: 0 10px;
	}

	.disposers_2lvl {
		margin: 0;
	}

	.disposers_3lvl {
		padding: 0;
	}

	.disposers_3lvl_col_title {
		padding: 0 0 0 30px;
	}

	.disposers_col_title {
		padding: 0;
	}

	.disposers_row .disposers_col_title:before {
		display: none !important;
	}

	.disposers_2lvl_col_title {
		padding: 0 0 0 10px;
	}

	.disposers_2lvl_row .disposers_2lvl_col_title:before {
		display: none !important;
	}

	.disposers_3lvl_col_title {
		padding: 0 0 0 10px;
	}

	.disposers_nav_select,
	.disposers_nav_year,
	.disposers_nav_quarter,
	.disposers_nav_month,
	.disposers_nav_day {
		margin: 0 10px 10px 0;
	}

	.disposers_nav_day .picker {
		right: auto;
		left: 0;
	}

	.profile_nav_menu li {
		margin: 0 10px;
	}

	.profile_body_menu li {
		margin: 15px 0;
		display: block;
	}

	.profile_body_menu a {
		display: inline-block;
	}
}

@media only screen and (max-width:320px) {}