@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans.eot');
    src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans.woff') format('woff'),
         url('../fonts/opensans.ttf') format('truetype'),
         url('../fonts/opensans.svg#Open Sans') format('svg');
    font-weight: normal;
    font-style: normal;
}