@font-face {
    font-family: 'OpenSans Italic';
    src: url('fonts/opensansitalic.eot');
    src: url('fonts/opensansitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensansitalic.woff') format('woff'),
         url('fonts/opensansitalic.ttf') format('truetype'),
         url('fonts/opensansitalic.svg#OpenSans Italic') format('svg');
    font-weight: normal;
    font-style: normal;

}