@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('opensans-lightitalic.eot');
    src: url('opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic.woff') format('woff'),
         url('opensans-lightitalic.ttf') format('truetype'),
         url('opensans-lightitalic.svg#Open Sans Light Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}