@font-face {
    font-family: 'open_sanslight';
    src: url('opensans_light-webfont.eot');
    src: url('opensans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans_light-webfont.woff') format('woff'),
         url('opensans_light-webfont.ttf') format('truetype'),
         url('opensans_light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}